<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.coursework.mapper.ExamPaperMapper">
	
	<resultMap id="ExamPaperMap" type="com.ts.coursework.entity.ExamPaper">
		<id column="id" property="id"/>
        <result column="subject_id" property="subjectId"/>
        <result column="title" property="title"/>
	</resultMap>
	
	<insert id="addExamPaper" useGeneratedKeys="true" keyProperty="id">
    	insert into exam_paper(id,subject_id,title) 
		values(id,#{subjectId},#{title})
    </insert>
    
    <delete id="delExamPaper">
    	DELETE from exam_paper
		where id=#{id}
    </delete>
    
    <update id="updateExamPaper">
    	update exam_paper SET
		id=#{id},
		subject_id=#{subjectId},
		title=#{title}
		where id=#{id}
    </update>
    
    <select id="getExamPaperById" resultMap="ExamPaperMap">
        SELECT  id,subject_id,title 
		from exam_paper
		where id=#{id}
    </select>
    
    <select id="getAllExamPaper" resultMap="ExamPaperMap">
        SELECT  id,subject_id,title 
        from exam_paper
    </select>
    
    <select id="getExamPaperBySubjectId" resultMap="ExamPaperMap">
        SELECT  id,subject_id,title 
        from exam_paper
        where subject_id=#{subjectId}
    </select>
</mapper>